@*
    -------------NetworkNavVC---------
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SensorNetwork.Views.Shared.Components.NetworkNavVC.NetworkNavVCModel
@{
}

@*<div class="panel panel-default">
        <div class="panel-heading panel-pad-tb-5" role="tab" id="heading @Model.NetworkId">

            <h3 class="sidebar-root panel-title txt-xl txt-center" data-panelid="@Model.NetworkId">
                <a role="button">
                    @Model.NetworkName
                </a>

            </h3>
        </div>

        <div id="@Model.NetworkId"
             class="panel-collapse collapse in"
             role="tabpanel" aria-labelledby="heading+@Model.NetworkId">
            <div class="panel-body">

            </div>
        </div>
    </div>*@
<div class="panel panel-default">

    <div class="panel-heading" role="tab" id="@($"NetworkHeading{Model.Network.Id}")">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="@($"{Model.DataParent}")"
               href="@($"#NetworkCollapse{Model.Network.Id}")"
               aria-expanded="false" aria-controls="@($"NetworkCollapse{Model.Network.Id}")">
                @Model.Network.Name
            </a>
        </h4>
    </div>

    <div id="@($"NetworkCollapse{Model.Network.Id}")"
         class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="@($"NetworkHeading{Model.Network.Id}")">
        <div class="panel-body">

            <div class="list-group-item-info col-xs-12 col-sm-2">
                @foreach (var sensor in Model.Network.Sensors)
                {
                    @*@Component.Invoke(nameof(SensorNetwork.Views.Shared.Components.SensorNavVC.SensorNavVC), sensor, Model.Network.Id)*@
                }
                
            </div>

            <div id="@($"sensor-plot-net-{Model.Network.Id}")" class="sensor-plot col-xs-12 col-md-10"></div>
            @*<div id="@($"NetworkGraph{Model.Network.NetworkId}")" class="col-xs-12 col-lg-10" style="height:300px"></div>*@
        </div>
    </div>

</div>




